* {
    margin: 0;
}
.container {
    position: relative;
    left: 24%;
    padding: 4%;
    width: 57.5%;
}

.CompanyCards {
    height: 198px;
    margin: 10px;
    position: relative;
    width: 100%;
    background-color: lightgray;
    border-radius: 15px;
    padding: 20px;
    margin:auto;
    
}
.imgCompanyPost {
    height: 18%;
    width: 100%;
}
.cardC {
    padding: 15px;
} 

