/* navbar for the filed */
.bar {
  background-color: black;
  height: 4.4vw;
}

.loginBar {
  float: right;
  position: relative;
  left: 45vw;
}

.Fbtn {
  display: inline;
}

.navbar {
  display: inline;
  color: white;
}

#submitLog {
  padding: 5px 10px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  left: 0vw;
  top: 1.2vw;
}

#submitLog:hover {
  background-color: royalblue;
}

#logo {
  color: white;
  font-size: 20px;
}

/* navbar for the userfiled */

.userNavbar {
  background-color: black;
  padding: 18px;
  text-decoration-line: none;
}

.Ulink {
  text-decoration-line: none;
  color: white;
}

.buttons {
  float: right;
  text-decoration-line: none;
}

.Ubtn {
  display: inline;
  margin: 50px;
}

/* applications side */

/* .posts {
  border: 0px solid;
  padding: 10px;
  box-shadow: -1px 2px 20px -5px #888888;
  width: 50vw;
  border-radius: 10px;
} */

.feed {
  position: relative;
  width: 100%;
}

.feedCard {
  width: 100%;
  left: 0vw;
  top: -64.5%;
}

.feedCardS{
  position: relative;
}

#detailsBtn {
  float: right;
  width: 17%;
  margin: 0 1%;
}

.filter {
  position: relative;
  align-self: center;
}

.signup {
  width: 25%;
  float: right;
  position: relative;
  right: 10%;
  margin-top: 5%;
  border: 1px solid;
  border-radius: 5%;
  padding: 30px;
  text-align: center;
}

.buttonChange {
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;
  left: 2%;
}

#logotext {
  font-size: 20px;
}

.submit-button {
  background-color: dodgerblue;
}

.checkbox {
  width: 100%;
  left: 1vw;
  top: 5vw;
}

#buttonskills {
  float: right;
}
.checkboxDiv {
  width: 25%;
}

.comapny-avatar{
   border-radius: 50%;
   position: relative;
   left:2vw;
   top:1vw;
}

.company-profile{
  width:65%;
  position: relative;
  left:15vw;
  top:3vw;
}
.starts{
  position: relative;
  left:35%;
}
.addpostCard{
  position: relative;
  left:27vw;
}

.freelancerApplied{
    position: relative;
    float: right;
    margin: 0.5%;
}

#exampleText{
  width: 120%;
}

#companyName{
  position: relative;
  top:-11vw;
  left:17vw;
  font-size: 50px;
}

#companyEmail{
  position: relative;
  top:-10vw;
  left:17vw;
  font-size: 20px;
}
#companyLocation{
  position: relative;
  top:-9vw;
  left:17vw;
  font-size: 20px;
}

#UserFName{
position: relative;
left:1vw;
font-size:30px;
}
#UserLName{
position: relative;
left:1vw;
font-size:25px;
}
#UserAge{
position: relative;
left:1vw;
font-size:20px;
}
#UserEmail{
position: relative;
left:1vw;
font-size:20px;
}
#UserPhone{
position: relative;
left:1vw;
font-size:20px;
}
#UserDescription{
position: relative;
left:1vw;
font-size:20px;
}
#UserSkills{
position: relative;
left:1vw;
font-size:20px;
}

.userProfile{
  width:43%;
  position: relative;
  left:8vw;
}
.userInfoCard{
  position: relative;
  left:15vw;
  top:-8vw;
  width: 60%;
  height:350px;
}
.feeds{
  position: relative;
  left:25vw;
  top:30vw;
  
}

#msgProfile{
  position: relative;
  top:-2vw;

}


#welcomeText{
  position: absolute;
  width:50%;
  top:15vw;;
  left:10vw;
  font-size:25px;
  font-family: 'Source Sans Pro', sans-serif;
}

#editProfile{
  position: relative;
  left:40vw;
  top:-6vw;
}

.post{
  position: relative;
  left:25vw;
  top:5vw;
  margin-bottom: 5%;
  width:50%;
}